@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Merriweather:ital@0;1&family=Work+Sans:wght@400;500;800&display=swap');

h1, h2, h3, h4 {
font-family: 'Merriweather', serif;
display: flex;
justify-content: center;
align-items: center;
}

p {
font-family: 'Work Sans', sans-serif;
text-align: center;
}

body {
background-color:#F1DDBD;
padding: 10px;
}
